[submodule "docker"]
	path = docker
	url = https://github.com/xpn-arcos/xpn-docker.git
	branch = master
[submodule "libs/lfi"]
	path = libs/lfi
	url = https://github.com/dariomnz/lfi.git
	branch = master
